*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

button:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

aside {
  background-color: #395b64;
  width: 30%;
  height: 100vh;
  float: left;
}

main {
  width: 70%;
  height: 100vh;
  float: right;
  background-color: #eeeeee;
}

.user-input-data {
  margin: 2rem;
  padding: 2rem;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
  background-color: #a5c9ca;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

button {
  font: inherit;
  font-size: 1.5rem;

  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

button:hover,
button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

fieldset {
  border-radius: 10px;
  background-color: #fff;
  max-width: 500px;
  padding: 16px;
  border: none;
}

fieldset legend {
  background-color: #31363f;
  color: #fff;
  padding: 3px 9px;
  border-radius: 5px;
}

fieldset label {
  margin: 0.5rem 0;
}

input {
  border-radius: 10px;
  border: none;
  padding: 0.4rem 0.2rem;
}

input:focus {
  outline: none;
  background: #fff1c4;
}

input::before {
  content: "";
  padding-left: 10px;
}

/* Users table display */

.users-data {
  display: none;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 50%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: red;
}

.users-data.visible {
  display: block;
  pointer-events: all;
}

.users-data thead tr {
  background-color: #31363f;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.users-data th,
.users-data td {
  padding: 12px 15px;
}

.users-data tbody tr {
  border-bottom: 1px solid #31363f;
}

.users-data tbody tr:last-of-type {
  border-bottom: 2px solid #31363f;
}

/*  */

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
