:root {
  --navy-blue: #686966;
  --blue-grotto: #d2d2c8;
  --blue-green: #eff1e6;
  --baby-blue: #f0f5ef;
  --text-white: #f0f5ef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

select {
  background-color: inherit;
  border: none;
  color: var(--text-white);
}

button:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

aside {
  background-color: var(--navy-blue);
  width: 30%;
  height: 100vh;
  float: left;
}

main {
  width: 70%;
  height: 100vh;
  float: right;
  background-color: var(--baby-blue);
}

.user-input-data {
  margin: 2rem;
  padding: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-content: center;
  background-color: var(--blue-grotto);
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

button {
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #e5857b;
  border: 1px solid #e5857b;
  color: #f0f5ef;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

button:hover,
button:active {
  background: #f1b2b2;
  border-color: #f1b2b2;
  color: var(--text-white);
}

fieldset {
  border-radius: 10px;
  background-color: var(--blue-green);
  max-width: 500px;
  padding: 16px;
  border: none;
}

fieldset legend {
  background-color: var(--navy-blue);
  color: #fff;
  padding: 3px 9px;
  border-radius: 5px;
}

fieldset label {
  margin: 0.5rem 0;
}

.name-label {
  color: #fff;
}
input {
  border-radius: 10px;
  border: none;
  padding: 0.4rem 0.9rem;
}

input:focus {
  outline: none;
  background: #f0dcd8;
}

input::before {
  content: "";
  padding-left: 10px;
}

.radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* align-items: right; */
}

/* Users table display */

.users-data {
  display: none;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 60%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: #fbf5ef;
}

.users-data.visible {
  display: block;
  pointer-events: all;
}

.users-data thead tr {
  width: 100%;
  background-color: var(--navy-blue);
  color: #f0f5ef;
  text-align: left;
  font-weight: bold;
}

.users-data th,
.users-data td {
  padding: 12px 15px;
}

.users-data tbody tr {
  border-bottom: 1px solid #45496a;
}

.users-data tbody tr:hover {
  background-color: #e8ccc7;
}
.users-data tbody tr:last-of-type {
  border-bottom: 2px solid #31363f;
}

/*  */

#entry-text {
  width: 40rem;
  margin: 2rem auto;
  max-width: 80%;
  padding: 1rem;
}

#entry-text p {
  font-size: 1.5rem;
  text-align: center;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
